.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: 100%; */
  background-color: #1e1e1e;
  color: #ffffff;
  width: 100%;
  /* overflow-x: hidden; */
}

h1 {
  color: goldenrod;
  /* margin: 0.5em 0; */
}

h2 {
  font-size: 6rem;
  font-weight: 500;
  margin: 0;
}

h3 {
  /* font-size: 4rem;
  font-weight: normal;
  color: #dddddd;
  font-weight: 300; 
  margin: 0; */
}

h4 {
  color: goldenrod;
  font-weight: normal;
}

/* button {
  display: flex;
  color: blue;
  margin: 0;
  padding: 20px 0;
  background-color: #1e1e1e;
  color: #ffffff;
  opacity: 0.7;
  border: none;
  border-left: solid #ffffff 3px;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  font-size: 16px;
} */

@media (max-width: 600px) {
  .TopBar {
    display: none;
  }
}

@media (min-width: 600px) {
  .TopBar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 4rem;
    padding: 0 20px;
    z-index: 15;
    background-color: #1e1e1e;
  }
}

@media (min-width: 600px) {
  .Hamburger {
    display: none;
  }
}

@media (max-width: 600px) {
  .Hamburger {
    position: sticky;
    /* position: -webkit-sticky; */
    /* min-height: 4rem; */
    top: 10px;
    display: flex;
    justify-content: right;
    z-index: 16;
  }
}

@media (max-width: 600px) {
  .HamburgerButton {
    display: flex;
    justify-content: right;
    /* color: blue; */
    margin: 0;
    padding: 20px;
    background-color: inherit;
    color: #ffffff;
    opacity: 0.7;
    border: none;
    /* border-left: solid #ffffff 3px; */
    text-align: left;
    white-space: nowrap;
    width: 100%;
    font-size: 16px;
    /* display: block;
    justify-self: right;
    padding: 20px;
    border: 0;
    text-align: right;
    background: #222; */
  }
}

@media (max-width: 600px) {
  .HamburgerMenu {
    position: fixed;
    top: 0;
    /* padding-top: 20px; */
    background-color: rgba(50, 50, 50, 0.95);
    font-size: 60px;
    /* opacity: 0.3; */
    z-index: 15;
    justify-content: right;
    height: 100%;
    width: 100%;
    /* display: flex; */
  }
}

@media (max-width: 600px) {
  .HamburgerMenu ul {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 600px) {
  .RightBar {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 50px;
    /* writing-mode: vertical-rl; */
    /* left: auto; */
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    margin: 0px 20;
    background-color: white;
  }
}

.StyledButton {
  text-decoration: none;
  color: goldenrod;
  border: 1px solid goldenrod;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  margin: 0 2rem;
}

.StyledButton:hover {
  color: #aaaaaa;
  border-color: #aaaaaa;
}

.LeftBanner {
  background-color: #333;
}

.RightBanner {
  background-color: #333;
}

.Intro {
  display: flex;
  flex-direction: column;
  padding: 0 150px;
  min-height: 100vh;
}
@media (max-width: 600px) {
  .Intro {
    padding: 0 25px;
  }
}

@media (max-width: 600px) {
  .ProfileImage {
    display: none;
  }
}

.Name {
  font-size: 6rem;
  font-weight: 500;
  margin: 0;
}
.Blurb {
  font-size: 4rem;
  font-weight: normal;
  color: #dddddd;
  /* font-weight: 300; */
  margin: 0;
}
.MainContent {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  padding: 0 150px;
}

@media (max-width: 600px) {
  .MainContent {
    padding: 0 25px;
  }
}

.Section {
  padding-top: 100px;
  min-height: calc(100vh - 100px);
}

.AboutContent {
  display: flex;
  /* min-height: 100vh; */
}

.AboutContent p {
  line-height: 1.5rem;
}

.Nav {
  display: flex;
  flex-direction: column;
}

.Nav button {
  display: flex;
  /* width: 11rem; */
  /* padding-left: 2rem; */
  margin: 1rem;
  border: none;
  padding: 1 rem;
  background: none;
  color: #ffffff;
  text-align: left;
}

.ExperienceContent {
  display: flex;
}

@media (max-width: 600px) {
  .ExperienceContent {
    flex-direction: column;
  }
}

.ExperienceSummary ul {
  list-style: none;
  padding: 0;
}

.ExperienceSummary li {
  padding-bottom: 10px;
}

.ExperienceSummary ul li::before {
  content: "- ";
}

.Employers {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: max-content; */
  position: relative;
  /* z-index: 3; */
  width: max-content;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* .Employers ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
} */

.Contact {
  padding: 100px 0px;
  align-self: center;
  text-align: center;
  width: 70%;
}

.Contact p {
  font-size: 1.5rem;
}

.TextLink {
  text-decoration: none;
  color: #fff;
}

.TextLink:hover {
  text-decoration: underline;
}

.TextLink::before,
.TextLink::after {
  content: "";
  position: relative;
  bottom: 0px;
  left: 0;
  border-top-width: 2px;
  z-index: 5;
}

.TextLink::before {
  border-top-style: dashed;
  width: 100%;
}

/* .TextLinks:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}

.TextLinks:hover:after {
  width: 100%;
  left: 0;
  background: #fff;
} */

.BottomBar {
  padding: 4rem 0 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.BottomBar a {
  text-decoration: none;
  color: #999999;
}

.BottomBar a:hover {
  color: #cccccc;
}
